
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}   

/* Scrolling effect for images */
.img1, .img2 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 {
    background-image: url('../image/CarGroup.jpg');
    min-height: 100%;
}

.img2 {
    background-image: url("../image/ContactUs.jpg");
    min-height: 400px;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

.w3-top {
    background-image: linear-gradient(to right, rgb(97, 84, 84) , rgb(39, 39, 36));
}

.menuColor {
    color: white;
}

.full-txt {
    white-space: nowrap;
}

.txt {
    font-family: 'Lora', 'sarif';
}

.dealerNameBld {
    font-size: 1.4em;
}

.dealerName {
    color:red;
}

.odd{
    background-color: rgb(246, 248, 247);
}

.even {
    background-color: rgb(179, 212, 243);
}

.carDetail {
    margin: auto;
    font-size: .75em;
    
}

.dealerTable {
    margin: auto;
    width: 50%;
}

.dealerInputDiv {
    display: none;
}

.dealerTableDiv {
    display: none;
}

.make, .year, .model {
    margin-top: 30%;
}

.vehicleDropDiv {
    width:10%;
    margin-left:47%;
}

.income{
    width:10%;
}

.btnSearchMore {
    width:15%; 
    margin-top:2%
}

.btnAddDealer {
    margin-right: 10%
}

.nameSearchBox {
    margin-left: 50px;
}

#imgTxt {
    white-space: nowrap;
}

#about, #getStartedTxt, #contact {
    font-size: 2em;
    text-align: justify;
}

#dealerDiv {
    display:none;
}

#btnFindVehicles {
    margin-top: 15px;
    margin-right: 12px;
}


@media only screen and (max-device-width: 1600px) {
    div.img1, div.img2 {
        background-attachment: scroll;
        min-height: 400px;
    }
}

@media screen and (min-width:360px){
    .year, .make, .model {
        width:80px;
        margin-left: -20px;
    }   

    #btnFindVehicles {
        width: 120px;
        margin-right: -18px
    }

    .income {
        width: 80px;
        margin-right: -22px;
    }

    .btnSearchMore {
        width:120px;
    }

    .short-txt {
        white-space: nowrap;
    }
}




  
